In [1]:
# Q1 Simple Function
import datetime
def greet_with_time(name):
    current_time=datetime.datetime.now()
    print(f"Hello {name}, the current time is {current_time}.")
greet_with_time("Mishaym")

Hello Mishaym, the current time is 2024-11-28 19:15:35.360529.

In [3]:
# Q2 Function with Multiple Parameters
def calculate_average(num1,num2,num3):
    average=(num1+num2+num3)/3
    return average
result=calculate_average(34,35,38)
print(result)

35.666666666666664

In [7]:
# Q3 Default Argument
def calculate_discount(price, percentage):
    discount=price-(price*percentage)
    return discount
price=calculate_discount(550,10/100)
print(price)

495.0

In [9]:
# Q4 Keyword Arguments
def print_info(name,age,city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
print_info(name="Mishaym",age=19,city="Lahore")

Name: Mishaym
Age: 19
City: Lahore

In [11]:
# Q5 Variable-Length Arguments
def find_max(*num):
    value=max(num)
    return value
maximun_value=find_max(34,89,76,56)
print(maximun_value)

89

In [13]:
# Q6 Recursive Function
def factorial(n):
    if n<0:
        print("Factorial not defined for negative number.")
    elif n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(15)
print(result)

1307674368000

In [15]:
# Q7 Function as an Argument
def apply_function(func, numbers):
    list=[]
    for num in numbers:
        data=func(num)
        list.append(data)
    return list
def cube(i):
    return i**3
numbers=[2,3,5,7,11]
numbers_cubes=apply_function(cube, numbers)
print(numbers_cubes)

[8, 27, 125, 343, 1331]

In [17]:
# Q8 Lambda Function
square = lambda x: x ** 2
result=square(7)
print(result)

49